<h2>My Tasks</h2>
<ol class="parnet_tasks">
  <li *ngFor="let parent of tasks">
      <span>{{parent.title}}</span>
      <button (click)="completeTask(parent)">Complete</button>
      <ul class="child_tasks">
        <li *ngFor="let child of parent.child_tasks">
          <span>{{child.title}}</span>
          <button (click)="completeTask(child)">Complete</button>
        </li>
      </ul>
  </li>
</ol>
<table>
  <tr>
    <th>Title</th>
  </tr>
  <tr *ngFor="let parent of tasks">{{parent.title}}</tr>
</table>
<div>
  <label>Task title:
    <input #taskTitle />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addTask(taskTitle.value); taskTitle.value=''">
    Add
  </button>
  
<!--   <label class="subtask_checkbox">Subtask:
    <input *ng-checked="is_subtask" type="checkbox">
  </label>
  {{is_subtask}}
  <div *ngIf="is_subtask">
    <select *ngIf="is_subtask">

    </select>
  </div>

</div> -->
